.example-stretched-tabs {
  max-width: 800px;
}
.example-button-row button,
.example-button-row a {
  margin-right: 10px;
  margin-left: 20px;
  justify-self: center;
  align-self: center;

}

.box{
  display: flex;
  font-size: 30px;
  width: 500px;
  border: 1px solid black;
  margin-left: 50px;
}
.box>p{
  margin-left: 25px;
  margin-right: 25px;
}
.info{
  display: flex;
  padding: 0;
  margin: 0;
  background-color: blue;
  width: 500px;
  height: 20px;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.time-box, .butt-box{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 50%;
}

.time-box{
  font-size: 35px;
}


